
body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: black;
    color: white;
}

main {
    width: 100%;
    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: inital;
}

button {
    padding: 20px 24px;
    cursor: pointer;
    text-align: center;
    background-color: #eee;
    color: black;
}

#0 {
    color: green;
    grid-column: span 2;
}